@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #263238;
    color: rgb(233, 237, 237);;
}

/* Links */

a {
    color: #80CBC4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(199, 146, 234)
}

/* Splash */

#splash {
    padding: 1em;
    background-color: rgb(233, 237, 237);
    color: #F77669;
    text-align: center;
    border-radius: 15px;
}

#splash a {
    text-decoration: none;
    border-bottom: 3px solid #F77669;
    color: #F77669;
    font-weight: 600;
}

/* Tabs */

#nav-tabs {
    padding: 1em;
}

#nav-tabs ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

#nav-tabs li {
    display: inline-block;
}

.tab {
    text-decoration: none;
    padding-bottom: 13px;
    margin: 0 1.5em;
    font-size: 20px;
}

.tab:hover, .tab.current {
    text-decoration: none;
    border-bottom: 3px solid rgb(199, 146, 234);
}

/* Footer */

.footer {
    text-align: center;
    margin-top: 6em;
    border-top: 1px solid rgb(233, 237, 237);
    padding: 2em 0;
    color: #bbbbbb;
}

.purple-link {
    color: rgb(199, 146, 234);
    text-decoration: underline;
    cursor: pointer;
}

.purple-link:hover {
    color: rgb(199, 146, 234);
}