#repl {
    margin: 2em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid rgb(233, 237, 237);
}

iframe {
    border: none;
    width: 50%;
    height: 600px;
    position: inherit;
    top: 0;
}

#input {
    left: 0;
}

#output {
    left: 50%;
}
